[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
redis-lru = "*"
pymongo = {extras = ["gssapi", "snappy", "srv", "tls"], version = "*"}
mongoengine = "*"
phonenumbers = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.10"
